<br><!--
<div align=center>

<table class=tbTransparent>
<tr>
<td class=tbTransparent width="50%" valign=top><span class=txtNr><b>{$l_lastDiscussions}</b></span></td>
<td class=tbTransparent width="50%" valign=top style="text-align:right;"><span class=txtSm style="white-space:nowrap;">{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class=forums>
<tr>
<td width="60%" class=caption4>{$l_topic}</td>
<td width="5%" align=center class=caption4>&nbsp;{$l_replies}&nbsp;</td>
<td width="5%" align=center class=caption4>&nbsp;{$l_views}&nbsp;</td>
<td width="15%" align=center class=caption4>{$l_author}</td>
<td width="15%" align=center class=caption4>{$l_lastAuthor}</td>
</tr>

{$listTopics}

</table>
</div>-->