<tr class={$bg}>

<td class=caption1 style="padding:15px;">
<div>

<span style="float:left; width:75px;"><img src='{$forum_icon}' align='absmiddle' width="78" height="78"></span>

<span style="float:left; width:350px; margin-left:10px;">

<b><a href="{$linkToForums}" style='font-size:150%; text-decoration:none;'>{$forum_title}</a></b><br>{$forum_desc}</span></div></td>
<td align=center class="caption1 bigtext">&nbsp;&nbsp;{$numTopics}&nbsp;&nbsp;</td>
<td align=center class="caption1 bigtext">&nbsp;&nbsp;{$numPosts}&nbsp;&nbsp;</td>
</tr>

