<tr valign=top class="{$bg}">
  <td class=caption1 align="center">

<br>
<a href="{$main_url_tag}user/{$posterName}" target="_parent">

<span class="txtSm v_17_circle_img"><img src="{$posterImage}" alt="" border="0" style="border:1px solid #000;"></span><br>
    <span class=username>{$posterName}</span></a>
</td>

<td class=caption1>

<div style="padding:10px;">

<b class="b1f"></b><b class="b2f"></b><b class="b3f"></b><b class="b4f"></b>
<div class="contentf v_17_border">


	<div class="bigtext">{$tTitle}</div>
	
	<div>{$l_posted}: {$postDate}{$editedBy}{$viewIP}<br>{$allowed}</span>
	<br><span style="line-height:25px;">{$posterText}</span><br><br>
	</div>

</div><b class="b4f"></b><b class="b3f"></b><b class="b2f"></b><b class="b1f"></b>

</td></tr>
