@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background-color:#eaeaeb !important;
	font-family:Arial;
	font-size:14px;
	color:#666;
}
.main {
	margin:auto;
	width:100%;
	float:left;
}
.header_sec {
	float:left;
	width:100%;
	color:#fff;
	font-size:15px;
}
.head_top {
	float:left;
	width:100%;
	min-height:60px;
	background-color:#e93100;
}
.logo_sec {
	float:left;
	width:160px;
	padding:20px;
}
.nav {
	float:left;
	width:auto;
}
.nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.nav ul li {
	margin:0;
	padding:20px 15px;
	display:inline-block;
}
.nav ul li a {
	color:#FFF;
	text-decoration:none;
	padding:20px 15px !important;
}
.nav ul li a:hover {
	color:#ccc;
	text-decoration:none;
}
.menu_sec {
	float:left;
	width:100%;
	min-height:52px;
	background-color:#fff;
	-moz-box-shadow: 0px 3px 7px #c1c1c3;
	-webkit-box-shadow: 0px 3px 7px #c1c1c3;
	-khtml-box-shadow: 0px 3px 7px #c1c1c3;
	box-shadow: 0px 3px 7px #c1c1c3;
}
.menu_sec ul {
	margin:0;
	padding: 0 10px;
	list-style:none;
}
.menu_sec ul li {
	margin:0;
	padding:16px 15px 0 15px;
	display:inline-block;
}
.menu_sec ul li a {
	color:#666;
	text-decoration:none;
}
.menu_sec ul li a:hover {
	color:#666;
	text-decoration:none;
	background:url(../images/menu_underline.gif) left bottom repeat-x;
	padding:0 0 15px 0;
}
.menu_sec ul li:last-child {
	float:right;
}
.menu_sec ul li:last-child a:hover {
	background:none;
	padding:0;
}
.user_small {
	float:left;
	padding:20px 20px 0;
	overflow:hidden;
	height:80px
}
.user_small ul {
	margin:0;
	padding:0;
	list-style:none;
}
.user_small ul li {
	margin:0;
	padding:0;
	display:inline-block;
}
.user_small ul li a, .user_small ul li a:hover {
	text-decoration:none;
	color:none;
}
.body_sec {
	float:left;
	width:100%;
	padding:30px 0 38px 0;
}
.blt {
	float:left;
	width:250px;
}
.msg_alt {
	float:left;
	width:100%;
}
.btn_msg_alt {
	float:left;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	outline:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	background:url(../images/icon_msg.png) 16px 17px no-repeat #e93100;
	margin:0 0;
	padding:11px 25px 12px 45px;
	line-height:normal;
	border:none
}
.btn_msg_alt:hover {
	background-color:#f03d0d;
}
.bbox {
	float:left;
	background-color:#FFF;
	border:1px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.bbox_head {
	display:block;
	border-bottom:1px solid #cccccc;
	font-size:15px;
	font-weight:bold;
	color:#e93100;
	padding:12px 0 12px 15px;
}
.vp_sec {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
ul.mem {
	float:left;
	width:100%;
	margin:0;
	padding:6px 0;
	list-style:none;
}
ul.mem li {
	float: left;
	margin: 0;
	padding: 10px 0 10px 15px;
}
ul.mem li a, ul.mem li a:hover {
	color:#666;
	text-decoration:none;
}
ul.mem li .mem_img {
	float:left;
	outline:none;
	border:1px solid #cccccc;
	width:70px;
	height:70px;
}
ul.mem li .mem_txt {
	float:left;
	width:142px;
	padding:0 0 0 10px;
}
ul.mem li .mem_txt h6 {
	margin:0;
	padding:0 0 8px 0;
	font-size:14px;
	font-weight:bold;
	display:block;
}
.vm_sec {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
.brt {
	float:right;
	width:100%;
	margin:0 auto;
}
.op_banner {
	float:left;
	width:100%;
}
.minfo {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
ul.TabbedPanelsTabGroup li:first-child {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
ul.TabbedPanelsTabGroup li:last-child {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.meb_info {
	width:70%;
}
ul.pa_sec {
	width:160px;
	list-style:none;
	margin:0;
	padding:0;
}
ul.pa_sec li {
	margin:0;
	padding:5px 0 5px 24px;
	display:block;
}
ul.pa_sec li a {
	color:#666;
	text-decoration:none;
}
ul.pa_sec li a:hover {
	color:#444;
	text-decoration:none;
}
ul.pa_sec li.mo {
	background:url(../images/icon_mo.png) 0 7px no-repeat;
}
ul.pa_sec li.nm {
	background:url(../images/icon_nm.png) 0 7px no-repeat;
}
ul.pa_sec li.nc {
	background:url(../images/icon_nc.png) 0 7px no-repeat;
}
ul.pa_sec li.nf {
	background:url(../images/icon_nf.png) 0 7px no-repeat;
}
ul.pa_sec li.pv {
	background:url(../images/icon_pv.png) 0 7px no-repeat;
}
ul.pa_sec li:first-child {
	color: #e93100;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0;
}
.mm_sec {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
.smm_btn {
	float:left;
	width:80%;
	padding:0 0 20px 17px;
}
.btn_smm {
	float:left;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	outline:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	background:#e93100;
	margin:0 0;
	padding:11px;
	line-height:normal;
	border:none
}
.btn_smm:hover {
	background-color: #f03d0d;
}
.ql_sec {
	float:left;
	width:100%;
}
.ql_lft {
	float:left;
	width:100%;
	min-width:350px;
}
.ql_rit {
	float:right;
	width:100%;
	min-width:350px;
}
.ql_top {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
.ql_bottom {
	float:left;
	width:100%;
	padding:20px 0 0 0;
}
ul.qlp {
	margin:0;
	padding:0 16px;
	list-style:none;
	min-height: 384px;
}
ul.qlp li {
	margin:0;
	padding:16px 0 16px 20px;
	background:url(../images/icon_search.png) 0 18px no-repeat;
	border-bottom:1px solid #cccccc;
	line-height:20px;
}
ul.qlp li span {
	font-weight:bold;
	margin:0;
	padding:0;
	display: block;
}
ul.qlp li a, ul.qlp li a:hover {
	text-decoration:none;
	color:#e93100;
}
ul.qlp li:last-child {
	border:none;
}
ul.qlp li:first-child {
	background:none;
	padding-left:0px;
	color:#000;
}
/*footer*/
.footer_sec {
	float:left;
	width:100%;
	background-color:#fff;
	-moz-box-shadow:0 -2px 6px #c1c1c3;
	-webkit-box-shadow:0 -2px 6px #c1c1c3;
	-khtml-box-shadow:0 -2px 6px #c1c1c3;
	box-shadow:0 -2px 6px #c1c1c3;
}
.flink {
	float:left;
	width:100%;
	margin:0;
	padding:28px 0 22px 0;
	text-align:center;
	line-height: 24px;
}
.flink a {
	margin:0 10px;
	color:#666;
	text-decoration:none;
}
.flink a:hover {
	color:#444;
	text-decoration:none;
}
.flages {
	float:left;
	width:100%;
	text-align:center;
	padding:0 0 28px 0;
}
/*footer*/

/*header*/
.navbar-inverse {
    background-color: #E93100 !important;
    border-color: #F9C8BB !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}
ul.nav.navbar-nav {
    margin: 3PX 0 0 2.5%;
}
nav.navbar.navbar-inverse {
    margin-bottom: 0;
}
ul.nav.navbar-nav li {
    padding: 1px 1px 0px 3px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #E93100 !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover ,.navbar-inverse .navbar-toggle {
    background-color: #FFFFFF !important;
	border-color: #EAEAEB !important;
}
.op_banner img {
    width: 100%;
}
.bbox.common_height {
    min-height: 472px;
}
@media (max-width: 1650px){
div#myNavbar,.navbar-collapse {
    margin: -16px !important;
}
}
@media (max-width: 1024px){
.TabbedPanelsTab {
    width:33.34% !important;
}
.menu_sec {
    margin-left: -15PX;
    MARGIN-RIGHT: -15PX;
	width: 103%;
}
.row.header_row {
	margin:0 AUTO;
}
}
@media (max-width: 770px){
ul.nav.navbar-nav li {
    width: 100%;
}
button.navbar-toggle {
    display: block;
}
.menu_sec {
    BOX-SHADOW: NONE;
    padding: 0% 0 2% 1.4%;
    MARGIN: 0 AUTO;
    background-color: transparent;
}
.menu_sec ul {
    padding: 0 0px 15px 10px;
}
.menu_sec li {
    width: 100%;
}
div#myNavbar {
    
}
.menu_sec ul li a {
    color: #fff;
}
.menu_sec ul li:last-child {
    float: none;
}
.navbar-header {
    float: left;
    width: 100%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: lightgray !important;
}
.ql_lft ,.ql_rit{
    min-width: auto;
}
.flages img {
    width: 92%;
}
ul.TabbedPanelsTabGroup li {
    width: 33.34%;
    float: left;
}
body ,.row .body_cont_row{
    position: relative;
}
.col-xs-12.col-sm-12.col-md-4.col-lg-3.siteber_cont {
    position: absolute;
    bottom: -23%;
}
.blt {
    width: 100%;
}
.footer_sec.footer_con {
    position: absolute;
    bottom: -26%;
}
.menu_sec ul li {
    padding: 2%;
}
.menu_sec {
    width: 100%;
}
}

@media (max-width: 680px){
.col-xs-12.col-sm-12.col-md-4.col-lg-3.siteber_cont {
    position: absolute;
    bottom: -25%;
}
.footer_sec.footer_con {
    position: absolute;
    bottom: -28%;
}
}
@media (max-width: 568px){
li.TabbedPanelsTab {
min-height: 64px;
}
}
@media (max-width: 500px){

ul.TabbedPanelsTabGroup li {
    padding: 3%;
}
.col-xs-12.col-sm-12.col-md-4.col-lg-3.siteber_cont {
    position: absolute;
    bottom: -41%;
}
.footer_sec.footer_con {
    position: absolute;
    bottom: -44%;
}
.menu_sec ul li {
    padding: 3%;
}
li.TabbedPanelsTab {
min-height: 58px;
}
}

@media (max-width: 400px){
li.TabbedPanelsTab {
    min-height: 78px;
}
}
@media (max-width: 320px){
ul.TabbedPanelsTabGroup li {
    padding: 5% 4%;
	font-size: 13px;
}
.menu_sec {
    padding: 3%;
}
.ql_lft, .ql_rit {
    min-width: 285px !important ;
}
.menu_sec ul li {
    padding: 4% 3% !important
	;
}
}
/*/header*/