/* page body
---------------------------------------------------------------------------- */

body {
	font-size:85%;
	font-family: Arial, sans-serif;
	color:#444444;
	background: #ffffff;
	padding: 0px 0 10px 0;
	margin: 0;
	overflow-x: hidden !important;
}
h1, h2, h3 {
	padding: 0;
	margin: 0;
	color:#383737;
}
.line-height-30 {
	line-height: 30px;
}
p {
	color:#444444;
}
h2 {
	font-size:21px;
	font-weight:bold;
	color:#383737;
	text-align:left;
}
h3 {
	font-size:14px;
	font-weight:bold;
	color:#383737;
	text-align:left;
}
/* MAIN HEADER BAR, OFTEN WHERE THE LOGO IS */

/* MAIN CONTAINER, SITES UNDER THE HEADER */ 
#page_container {
	background: white;
	display:block;
	border:1px solid white;
}
/* THIS IS THE INNER CONTENT WRAPPER, FILLS THE CONTENT SECTION NOT THE MENU BAR */
#main_content_wrapper {
	/*background: transparent url('../../../images/body_wrapper_top.jpg') top left no-repeat;*/
	border-radius: 8px;
	margin-right:0px;
	margin-top:7px;/*	margin-bottom:10px;*/
}
#main_wrapper_bottom {
	/*background: transparent url('../../../images/v14_blue/main_wrapper_bottom.jpg') no-repeat top right;  margin-right:5px;*/
 	height:49px;
	display:none;
}
#top_banner {
	margn:0px;
	padding:0px;
	float:right;
}
#top_banner img {
	margin-right:20px;
}
/* page footer
---------------------------------------------------------------------------- */

#page_footer {
	margin-bottom:0px;
}
#page_footer .footer_menu {
	margin-bottom:0px;
}
.footer_tabs a {
	color: #997A7F;
}
#bottomBar {
	color: #fff;
	background: #383737;
}
#bottomBar h4 {
	background-color: #DB3D31;
	color:#ffffff;
}
#bottomBar .col1 li, #links li {
	border-bottom:1px dotted #ffffff;
}
/* two main buttons
---------------------------------------------------------------------------- */

/*A.MainBtn, input.MainBtn {background: #383737; color:#ffffff; }*/
/*A.NormBtn, input.NormBtn {background: url( '../../images/DEFAULT/_buttons/bg-grygradlarge.gif' ) 0px 0px repeat-x; }*/


/* link styles
---------------------------------------------------------------------------- */

a {
	color:#333333;
}
a:active {
	color:#333333;
}
/* GREY TABLE BACKGROUND AND BAR ON THE HOME PAGE, CALENDAR AND CLASSADS PAGE
---------------------------------------------------------------------------- */

.inner_nav_bar {
	background:  #6B6A6C;
	color:#ffffff;
	font-weight:bold;
}
.inner_nav_body {
	border:2px solid #eeeeee;
	border-bottom-color:white;
}
/* SIDE MENU BAR STYLES
---------------------------------------------------------------------------- */

#side_box {
	margin-left:0px;
	/*width:100% !important;*/
}
#side_box .menu_box_body, .menu_box_body1, .album-gallery li, #FolderBody .gallery li {
	background: #ffffff;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
}
#side_box .menu_box_body {
	border-top:1px solid #C8C8C8;
}
#side_box .menu_box_body, #side_box .menu_box_title {
}
#side_box .menu_side span {
	color:#333333;
}
#side_box .menu_box_title, .menu_box_title1 {
	font-weight:bold;
	height:29px;
	line-height:29px;
}
#side_box .menu_box_title span, .menu_box_title1 span {
	display:none;
}
/* TOP MENU BAR AND SUBBAR
---------------------------------------------------------------------------- */

.menu {
	margin-left:0;
}
.sub_menu {
	background: #eeeeee;
}
.menu, .sub_menu {
	width:940px;
    margin:0 auto;
}
/* MENU BOX EXPAND 
---------------------------------------------------------------------------- */

.menu_expand {
/*	background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_expand.gif") no-repeat 0 0;*/
	cursor:pointer;
}
.menu_noexpand {
	/*background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_noexpand.gif") no-repeat 0 0;*/
	cursor:pointer;
}
.menu .i1 {
	margin-left:10px;
}
#MenuBar .tabs li a {
	font-size:100%;
	line-height:40px;
}
.tabs li a:hover{
	color: #fff;
}
.tabs li .selected {
}
.tabs li a:hover {
	color: #cccccc;
}
.sub_tabs li a {
	color:#666;
}
.sub_tabs li a:hover {
	border-bottom:2px solid #383737;
}
/* MEMBERS ONLINE TEXT IN MENU BAR
---------------------------------------------------------------------------- */

.onlinenow a {
	color:#666666;
	font-size:12px;
}
/* ACCOUNT PAGE STYLES
---------------------------------------------------------------------------- */

#Acc_Heading {
	margin-top:5px;
}
#Acc_Heading .title {
	color:#ffffff;
	font-size:130%;
	margin:0px;
}
#Acc_Heading .text {
	font-size:110%;
	color:#ffffff;
}
#Acc_Heading .a1 img {
	border:3px solid #ffffff;
}
/* MAIN ACCOUNT BOXEX */
.CapTitle {
	background:#6B6A6C;
	display:none;
}
.CapBody {
	background: #F1F1F1 url('../../../images/DEFAULT/_acc/inner_box_bg.gif') repeat-x;
	border:1px solid #cccccc;
}
/* SEARCH RESULTS BAR */
#eMeetingContentBox #Results {
	background: #e1e1e1;
	border-bottom:1px solid #eeeeee;
}
.search_display_off {
	background:transparent;
}
/* INNER BACKGROUND IMAGES DISPLAYED AT THE TOP OF MOST PAGES
---------------------------------------------------------------------------- */

.TopVideos, .TopTour, .TopUpgrade, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLogin, .TopLinks, .TopInvite, .TopGroups, .TopGames, .TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount span {
	color:#ffffff;
	font-weight:bold;
}
.TopVideos, .TopTour, .TopUpgrade, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLogin, .TopLinks, .TopInvite, .TopGroups, .TopGames, .TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount {
	background: url(../../../inc/templates/v14_blue/images/inner_top_menu.jpg) no-repeat;
}
/* PROFILE PAGE STYLES
---------------------------------------------------------------------------- */

#ProfileHead {
	/*background: #08AFEC url('../../../images/DEFAULT/profile_backdrop.png') top left;*/
	background: #08AFEC;
	
} /* LEAVE IMAGE FOR PROFILE BACKDROP */
#ProfileUsernameBox h1, #ProfileUsernameBox h2, #ProfileUsernameBox p {
	color:white;
}
#profile_nav_bar {
	background: #8BA6C3;
}
.profile_tabs li a {
	color:white;
}
.profile_tabs .selected a {
	color:#E54539;
}
#profile_menu_display {
	background:#eeeeee;
	border: 1px solid #999999;
}
.profile_box_title {
	background-color: #08AFEC;
	border:1px solid #999999;
	/*width:395px;*/
	font-size:12px;
	/*margin-left:8px;*/
	border-bottom:0px;
}
.profile_box_title .goL h1 {
	color:#FFFFFF;
}
.profile_box_title .goR , .profile_box_title .goR a {color: #ffffff;}
.profile_box_body {
	border: 1px solid #999999;
	/*width:395px;
	margin-left:8px;*/
}
#ProfileOptionsBox {
	border:1px solid #999999;
	background:#eeeeee;
}
/* home page styles
---------------------------------------------------------------------------- */

/* SLIDER BACKGROUND COLOR */
.pagination a:hover, .pagination a.selected {
	background: #383737;
	color:white;
}
.pagination a {
	background: #4C9DDF;
	border-bottom:1px solid white;
	color:white;
}
.sliderwrapper {
	height:273px;
}
.HomeSearch {
	color:white;
}
.HomeMembers {
	color:white;
}
.s5_searchbox {
	color:#666666;
}
/* CONTROL BAR MENU
---------------------------------------------------------------------------- */

#MenuControlHead .user_name {
	color:white;
}
#MenuControlHead {
	background: url('../../../images/DEFAULT/_acc/control_t1.png') no-repeat;
}
#MenuControlList li {
	background: #333333 url('../../../images/DEFAULT/_acc/control_icon.gif') no-repeat;
}
#MenuControlBody .ListDisplay {
	background: url('../../../images/DEFAULT/_acc/control_tbg.gif');
}
#MenuControlBody .ListDisplay_text {
	color:white;
	background:black;
}
#MenuControlBody .user_status {
	color:white;
}
#MenuControlBody {
	background:black;
	color:white;
}
#MenuControlBot {
	background: url('../../../images/DEFAULT/_acc/control_t3.gif') no-repeat;
}
#MenuControlBot a {
	color:#666666;
}
/* rounded coners
---------------------------------------------------------------------------- */

.b1f, .b2f, .b3f, .b4f, .contentf {
	background: #efefef;
	color: #333333;
}
#copyright_bar {
	background:#fff;
}

/**************custom css************/

.flags_table a img {
	margin-bottom: 5px;
	margin-top: 5px;
}
.margin-top {
	margin-top: 12px;
}
#copyright_bar {
	width:100%
}
.inner {
/*	MARGIN: 0 AUTO;
	border-radius: 14px;
	padding-top: 10px;
	margin-top: 15px;
	border: 1px solid #5DCEF8;
	background: #359DC4;
	box-shadow: 0px 1px 16px 2px #0588B6;
	margin-right: 30px;
*/}
body .navbar {
	margin-left: 0;
/*	background: #08AFEC;
	border-top: 2px solid white;*/
}
body .navbar-default .navbar-toggle .icon-bar {
	background-color:#fff;
}
.navbar-default .navbar-toggle, body .navbar-default .navbar-nav>li>a, body .navbar-default li>a span {
	color:#fff;
}
.mobile_show {
	display:none;
}
.black_div {
	width:100%;
	MARGIN: 0 AUTO;
	border-radius: 12px;
	padding-top: 10px;
	margin-top: 15px;
	border: 2px solid #555555;
	float: left;
	background: #373737;
	margin-bottom: 20px;
}
.margin-bottom {
	margin-bottom: 20px;
}
/* New Additions*/
/*#fullpage #main{
	width:74% !important;
}*/
.hide_mobile {
	float: right;
	/* margin-top: -2px; */
    padding-left: 3px;
}
.outer_tab img {
	margin-top: 3px;
	margin-left: 4px;
}
.menu_side td {
	padding-bottom:2px;
}
input.MainBtn {
/*	padding:2px 4px;
	margin-right:8px;
*/}
input[type=submit].NormBtn {
	line-height:14px;
}
.iframe-table {
	border:10px solid red;
}
body .navbar {
	/*height:43px;*/
	min-height:43px;
	margin-bottom:0px;
}
body .navbar-nav>li>a {
	line-height:16px;
}
body .mobile_show li a {
	font-weight: bold;/*
	padding: 12px 12px;*/
}
body .nav>li>a {
	padding: 12px 24px;
}
body .navbar-default {
	border-radius:0px;
}
body #ImageLogo {
/*	float:none;
	margin-left:0px !important;
*/}
h1.logo {
/*	color:#08AFEC;*/
	font-size:37px;
	font-weight:normal;
	margin-top: 6px;
}
.login-butt {
	margin-left:30px;
	margin-top: 16px;
}
.MemberSearch input, .MemberSearch select {
	color:black;
}
.inner_nav_body a {
	color:#333333;
}
.left-form {
	width:50%;
	float:left;
}
.right-form {
	width:41%;
	float:right;
}
#form_car2{
	width:100%;}

@media screen and (max-width :987px) {
	#form_car2 .previous_button, #form_car2 .next_button{
		width:8%;}
#form_car2 .container{
width:84% !important;
}
.BorderBox2 {
	float:left;
}
#fullpage #main_content_wrapper {
	width:100% !important;
}
.page_header, #page_container {
	width:96%;
}
.sub_menu {
	width: 100%;
	margin-left: 0;
	margin-right: 0px;
}
}
@media screen and (max-width:970px) {
body #eMeeting {
	width: 100% !important;
}
}
 @media screen and (max-width :958px) {
body .nav>li>a {
	padding: 12px 23px;
}
}
@media screen and (max-width :941px) {
body .nav>li>a {
	padding: 12px 20px;
}
/*.gcatleft {
	width: 47%;
	float: left;
	margin-right: 2%;
	height: auto;
}
.gcatright {
	width: 47%;
	float: left;
}
.groupAggregateDiv {
	float: left;
	width: 100%;
}*/
}
@media screen and (max-width :940px) {
.menu, .sub_menu, #splitpage #main_content_wrapper, .page_header, #page_container, #page_header {
	width:96%;
}
.sub_menu, #copyright_bar {
	/*width:100%;*/
}
#splitpage #main_content_wrapper {
	width:100%;
}
body .main_content_wrapper {
	margin-right:0;
}
}
@media screen and (max-width :881px) {
body .nav>li>a {
	padding: 12px 17px;
}
}
 @media screen and (max-width :831px) {
	/* body #form_car2 .container {
    width: 88% !important;
}
*/
body .nav>li>a {
	padding: 12px 14px;
}
.category-list .category {
	width: 87%;
	float: left;
}
#join_us {
	display:none;
}
.join_us_link {
	display:block !important;
	width:40%;
	margin:auto;
	float:right;
}
/*table.menu_side{
		width:30% !important;
		float:right;
	}*/
	#fullpage #main {
	width: 100% !important;
	float: none;
	margin: 0 auto;
}
/*#fullpage #side{
		width:85%;
		float:none;
		margin:0 auto;
	
	#fullpage #side {
	width: 100%;
	float: left;
	margin: 0 auto;
	box-shadow: inset 0 0 7px #ccc;
	border-radius: 9px;
	padding: 3%;
	margin-bottom: 10px;
}}
#side_box .menu_box_body, #side_box .menu_box_title {
	width:100%;
}
.left_part_sidebar {
	width:250px;
	float:left;
}*/
}
 @media screen and (max-width :760px) {
.overview_right_part {
	margin-top:14px;
}
}
@media screen and (max-width :770px) {
.content-wrapper-inner {
	padding:5px !important;
}
body .nav>li>a {
	padding: 12px 12px;
}
#ProfileOptionsBox {
	min-height:215px !Important;
}
}
@media screen and (max-width :767px) {
#ProfileHead {
	background:none;
}
#ProfileUsernameBox {
	    background: #08AFEC url('../../../images/DEFAULT/profile_backdrop.png') top left;
	margin:0;
	padding-left:10px;
	padding-top:20px;
}
.contenti .box-2, .contenti .box-1 {
	width:96%;
}
.check, .package_box .check {
	width:50px;
}
.checkinfo {
	float:left;
	width:85%;
}
#Profile_SideBar h1, #ProfileOptionsBox {
	width:100% !important;
}
.profile_box_title, .profile_box_body {
	width:100% !important;
	margin-left:0px;
}
.mobile_show {
	display:block;
}
.mobile_hide, .sub_menu {
	display:none;
}
body .navbar-default li>a:hover {
	text-decoration:none;
}
.mobile_show li {
	position: relative;
	display: block;
}
.mobile_show li a {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	display: block;
	line-height: 20px;
}
}
 @media screen and (max-width :743px) {
.menu, .sub_menu, .page_header, #page_container, #page_header {
	width:94%;
}
.outer_group {
	width:100%;
	float:left;
}
/*.gcatleft, .gcatright { ,.groupAggregateDiv
	width:47%;
	float:left;
}*/
}

/*@media screen and (max-width :670px) {
	div.Acc_ListBox_right {
    width: 100% !important;
}
div.Acc_ListBox_right {
	width:100%;
}
.account_tabs li span {
	padding: 2px 2px 9px 5px !important;
}
}
@media screen and (max-width :633px) {
.gcatleft, .gcatright {
	width:98%;
}
}
@media screen and (max-width :625px) {
#fullpage #main {
	width:100% !important;
}
}
@media screen and (max-width :563px) {
textarea.register_area {
	width:100% !important;
}
.hide_mobile {
	display:none !important;
}
.left_part_sidebar {
	width:50%;
}
.category-list .column {
	width: 31%;
	float: left;
	margin-right: 9px;
}
}*/
@media screen and (max-width :555px) {
.right-form, .left-form, ul.form .CapBody .input {
	width:100%;
}
.outer_group {
	width: 100%;
	float: left;
}
.account_tabs li span {
	padding: 6px 0px 8px 10px;
}
.menu, .sub_menu, .page_header, #page_container, #page_header {
	width:94%;
	margin:0 auto;
}
div.Acc_ListBox_right2 {
	float:left;
}
.Acc_ListBox_right2 br {
	display:none !important;
}
div.Acc_ListBox_right1 {
	width:100%;
}

}
@media screen and (max-width :531px) {
td.inner_nav_body li:nth-child(odd) {
	margin-right:5px !important;
}
td.inner_nav_body li:nth-child(even) {
	margin-right:0 !important;
}
}
@media screen and (max-width :520px) {
td.inner_nav_body li {
	width:100% !important;
}
/*.category-list .column {
	width: 100%;
	text-align: center;
}
.category-list .category {
	float:none;
	margin: 0 auto;
}
*/.check, .package_box .check {
	width:30px;
}
.checkinfo {
	width:80%;
}
}
@media screen and (max-width :500px) {
	.smsnum_small_device{
		width:100%;
}
body .BorderBox2 {
	margin: auto;
	float:none;
}
}
@media screen and (max-width :450px) {
.Acc_ListBox .col-xs-9, .Acc_ListBox .col-xs-8, .Acc_ListBox .col-xs-4 {
	width:100%;
}
/*.register_area, ul.form .input, .input, select {
	width:100% !important;
}*/
div.Acc_ListBox_left {
	margin: 0 auto !important;
	float:none !important;
}
.CapBody ul.form span {
	margin-left: 0px !important;
}
.CapBody ul.form li p.note {
	margin-left: 10px !important;
	word-wrap: break-word;
	float: left;
	width:87%;
}
#eMeetingContentBox #Title {
	background:none;
}
.left_part_sidebar {
	width: 98%;
}
.join_us_link {
	width: 100% !important;
	text-align:center !important;
}
}
@media screen and (max-width :400px) {
/*#main_content_wrapper .inner form table {
	width:100% !important;
}*/
}
@media screen and (max-width :390px) {
.groupInfoContainer {
	font-size:12px;
}
}
.zoom_blocks {
	width: 100%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
}
.zoom_img {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 16px;
}
.zoom_container {
	border: 1px solid #D6D7D8;
	border-radius: 11px;
	padding: 17px;
	margin-bottom: 18px;
	float:left;
	min-height:432px;
}
.overview_left_part {
	font-size:12px;
	line-height:24px;
}
.overview_right_part {
	font-size:14px;
}
.overview_left_outer {
	margin-top: 12px;
}
.menu_box_body hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
table.overviewOptions table[width="650"]{
	background:none;
}
.navbar.navbar-inverse.navbar-fixed-top {
    background: #08afec;
}
#page_footer .footer_tabs li {
     float: none; 
    display: inline-block;
}