
/* page body
---------------------------------------------------------------------------- */

body { 
	font-size:85%;
	color:#444444;
	background: #F3EDF7 url('../../../inc/templates/v10_purple/images/bg.jpg') repeat-x;
	padding: 0px 0 10px 0;
	margin: 0;
}
h1, h2, h3{
	 
	padding: 0;
	margin: 0;
	color:#3A5461;
}
p { color:#444444; }
h2 {
	font-size:21px;
	font-weight:bold;
	color:#3A5461; 
	text-align:left;
}
h3 {
	font-size:14px;
	font-weight:bold;
	color:#3A5461; 
	text-align:left;
}

/* MAIN HEADER BAR, OFTEN WHERE THE LOGO IS */
.page_header { 	
	
}
/* MAIN CONTAINER, SITES UNDER THE HEADER */ 
#page_container { 
	   background:#ffffff; 
}
 
/* THIS IS THE INNER CONTENT WRAPPER, FILLS THE CONTENT SECTION NOT THE MENU BAR */
#main_content_wrapper { 
}

#main_wrapper_bottom {
	/*background: transparent url('../../../images/v10_purple/main_wrapper_bottom.jpg') no-repeat top right;  margin-right:5px;*/
  display:none;
}
#top_banner { margn:0px; padding:0px; float:right;}
#top_banner img { margin-right:20px;}

#ImageLogo { margin-left:10px;}
/* page footer
---------------------------------------------------------------------------- */

#page_footer {	margin-bottom:0px; } 
#page_footer .footer_menu {  margin-bottom:0px; }
#page_footer .footer_tabs li a { }
#bottomBar{	margin-top:0px; border-top:0px solid #F7EBDD; }
#bottomBar h4{ 	background-color: #553E6B; color:#ffffff; }
#bottomBar .col1 li, #links li {	border-bottom:1px dotted #ffffff;	}


/* two main buttons
---------------------------------------------------------------------------- */

/*A.MainBtn, input.MainBtn {background: #3A5461; color:#ffffff; }*/
/*A.NormBtn, input.NormBtn {background: url( '../../images/DEFAULT/_buttons/bg-grygradlarge.gif' ) 0px 0px repeat-x; }*/


/* link styles
---------------------------------------------------------------------------- */

a { color:#333333; }
a:active { color:#333333; }

/* GREY TABLE BACKGROUND AND BAR ON THE HOME PAGE, CALENDAR AND CLASSADS PAGE
---------------------------------------------------------------------------- */

 .inner_nav_bar { background:  #3A5461; color:#ffffff; font-weight:bold; }
.inner_nav_body { border:1px solid #eeeeee;  }

/* SIDE MENU BAR STYLES
---------------------------------------------------------------------------- */
#side { margin-left:0px; }
#side_box { padding-top:10px; margin-left:0px; }
#side_box .menu_box_body, .menu_box_body1, .album-gallery li, #FolderBody  .gallery li{ background: #ffffff;border-left:1px solid #C8C8C8;  border-right:1px solid #C8C8C8;   border-bottom:1px solid #C8C8C8;   
}
#side_box .menu_box_body { border-top:1px solid #C8C8C8; }
#side_box .menu_box_body, #side_box .menu_box_title {  } 
#side_box .menu_side span { color:#333333;}
#side_box .menu_box_title, .menu_box_title1 {  color:#ffffff; font-weight:bold; height:21px; line-height:29px;}
#side_box .menu_box_title span, .menu_box_title1 span { display:none; }

/* TOP MENU BAR AND SUBBAR
---------------------------------------------------------------------------- */

.menu {  margin:0px; padding:0px; }
.sub_menu {	background: #343434; }
.menu, .sub_menu { width:940px; margin-left:0px; margin-right:0px;   }
 
/* MENU BOX EXPAND 
---------------------------------------------------------------------------- */

.menu_expand {	background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_expand.gif") no-repeat 0 0; cursor:pointer;}
.menu_noexpand {background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_noexpand.gif") no-repeat 0 0; cursor:pointer;}
.menu .i1 { margin-left:10px;}
.tabs li a{	color: #fff; margin-right:2px; font-size:15px;line-height:60px; }
.tabs li a:hover, .tabs li .selected { 	color: #fff;}
.tabs li .selected {}
.tabs li a:hover { color: #cccccc;} 
.sub_tabs li a { }
.sub_tabs li a:hover { border-bottom:2px solid #3A5461;  } 


/* MEMBERS ONLINE TEXT IN MENU BAR
---------------------------------------------------------------------------- */

.onlinenow a { font-size:12px;}

/* ACCOUNT PAGE STYLES
---------------------------------------------------------------------------- */

#Acc_Heading { margin-top:5px;}
#Acc_Heading .title { color:#ffffff; font-size:130%; margin:0px;}
#Acc_Heading .text { font-size:110%; color:#ffffff; }
#Acc_Heading .a1 img { border:3px solid #ffffff;}
/* MAIN ACCOUNT BOXEX */
.CapTitle { 	background:#91CBF7; display:none;}
.CapBody { 	background: #F1F1F1 url('../../../images/DEFAULT/_acc/inner_box_bg.gif') repeat-x; 	border:1px solid #cccccc;}
/* SEARCH RESULTS BAR */
#eMeetingContentBox #Results { background: #1CAADE url('../../../inc/templates/v10_purple/images/menu_bg.jpg') center repeat-x; border-bottom:1px solid #eeeeee; color:white;}
.a2 a { color:white;}
.search_display_on { }
.search_display_off { background:transparent;}


/* INNER BACKGROUND IMAGES DISPLAYED AT THE TOP OF MOST PAGES
---------------------------------------------------------------------------- */

.TopVideos, .TopTour, .TopUpgrade, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLogin, .TopLinks, .TopInvite, .TopGroups, .TopGames,
.TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount
span { color:#ffffff; font-weight:bold; }

.TopVideos, .TopTour, .TopUpgrade, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLogin, .TopLinks, .TopInvite, .TopGroups, .TopGames,
.TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount
 {  background: url(../../../inc/templates/v10_purple/images/inner_top_menu.jpg) no-repeat;  }


/* PROFILE PAGE STYLES
---------------------------------------------------------------------------- */

#ProfileHead { background: #746385; /*background: #E54539 url('../../../images/DEFAULT/profile_backdrop.png') repeat-x top left;*/} /* LEAVE IMAGE FOR PROFILE BACKDROP */
#ProfileUsernameBox h1, #ProfileUsernameBox h2, #ProfileUsernameBox p {  color:white; }
#profile_nav_bar { background: #8BA6C3; }
.profile_tabs  li a { color:white;}
.profile_tabs .selected a{ color:#E54539; }
#profile_menu_display { 	background:#eeeeee;	border: 1px solid #999999;}
.profile_box_title { background: #1CAADE url('../../../inc/templates/v10_purple/images/menu_bg.jpg') center repeat-x;  border:1px solid #999999; /*width:395px;*/ font-size:12px; /*margin-left:8px;*/ border-bottom:0px;}
.profile_box_title .goL,.profile_box_title .goL h1 { color:#FFFFFF; }
.profile_box_title .goR,.profile_box_title .goR a { color:#FFFFFF; }
.profile_box_body { border: 1px solid #999999;  /*width:395px; margin-left:8px;*/}

#ProfileOptionsBox { border:1px solid #999999; background:#eeeeee; }


/* home page styles
---------------------------------------------------------------------------- */

/* SLIDER BACKGROUND COLOR */
.pagination a:hover, .pagination a.selected{ background: #3A5461; color:white;}
.pagination a  { background: #4C9DDF; border-bottom:1px solid white; color:white; }
.sliderwrapper { height:273px; }
.HomeSearch { color:white; }
.HomeMembers { color:white;}
.s5_searchbox { color:#666666; }

#three_col{margin:0px; padding:0px;}
#three_col ul{margin:0px; padding:0px;}
#three_col li{list-style:none; float:left;}
#three_col li.eMeeting{width:262px; height:159px; background-image:url(../../../inc/templates/v10_purple/images/three_col_eMeeting.gif); background-repeat:no-repeat; padding:41px 10px 0 10px;}
#three_col li.eMeeting p{ font-size:12px; color:#FFFFFF; margin:0px; line-height:18px;}
#three_col li.eMeeting p a{color:#0f99c8; text-decoration:none;}
#three_col li.eMeeting p a:hover{color:#0f99c8; text-decoration:underline;}
#three_col li.fitting {margin:0 0 0 32px;}
#three_col li.fitting a{width:272px; height:159px; background: url(../../../inc/templates/v10_purple/images/three_col_fitting.gif) 0px 0px no-repeat; display:block; padding:41px 0 0 8px;}
#three_col li.fitting a:hover{background:url(../../../inc/templates/v10_purple/images/three_col_fitting.gif) -280px 0px no-repeat; display: block;}
#three_col li.offer {margin:0 0 0 32px;}
#three_col li.offer a{width:272px; height:159px; background: url(../../../inc/templates/v10_purple/images/three_col_offer.gif) 0px 0px no-repeat; display:block; padding:41px 0 0 8px;}
#three_col li.offer a:hover{background:url(../../../inc/templates/v10_purple/images/three_col_offer.gif) -280px 0px no-repeat; display: block;}
div.line{background-image:url(../../../inc/templates/v10_purple/images/line_bg.gif); background-repeat:repeat-x;}
div.line_offers{background-image:url(../../../inc/templates/v10_purple/images/line_bg.gif); background-repeat:repeat-x; margin-top:-15px; height:43px;}
#save_area{width: 900px; background-image:url(../../../inc/templates/v10_purple/images/txt_2.png); background-position:left top; background-repeat:no-repeat;}
#save_area a, #save_area a:visited {color:#000;} 
a.save_area_gallery, a.save_area_gallery:visited {display:block; display:inline-block; color:#000; text-decoration:none; border:4px solid #766587; width:97px; margin-right:13px; margin-bottom:13px; height:97px; float:left; z-index:50;}
a.save_area_gallery em, a.save_area_gallery span {display:none;}
a.save_area_gallery:hover {border:4px solid red;}
#save_area_selection {position:relative; width:900px; margin:0px;}
#save_area_selection img {border:0;}
#save_area_selection .eMeeting_thumbs {width:477px; position:absolute; left:0; top:40px;}
#save_area_selection a.save_area_gallery:hover span {display:block; position:absolute; width:424px; height:50px; top:265px; left:175px; padding:5px; font-style:italic; color:#fff;  z-index:100;}
#save_area_selection a.save_area_gallery:active, #save_area_selection a.save_area_gallery:focus {border:4px solid #08c1ff;}
#save_area_selection a.save_area_gallery:active em, #save_area_selection a.save_area_gallery:focus em {display:block; position:absolute; width:424px; height:264px; top:-40px; left:476px; color:#000; z-index:50;}
#save_area_selection h1 { background: url(../../../inc/templates/v10_purple/images/welcome_box.gif) no-repeat; cursor:pointer; text-indent:-44444px; clear:both; padding:80px 0 0 0; margin:0 0 0 476px; width:425px; height:183px;}
#choose_area{width: 900px; background: url(../../../inc/templates/v10_purple/images/txt_2.png); background-position:left top; background-repeat:no-repeat;}
#choose_area_col{margin:0px; padding:41px 0 0 0;}
#choose_area_col ul{margin:0px; padding:0px;}
#choose_area_col li{list-style:none; float:left;}
#choose_area_bottom{margin:0; padding:21px 0 0 0;}
#choose_area_1{width:685px; float:left; display:inline;}
#choose_area_1 p{ color:#444444; font-size:13px; margin-top:0px; padding-top:0px; line-height:22px;}
#choose_area_1 p a{color:#444444;}
#choose_area_2{width:202px; margin-left:11px; float:left; display:inline;}
#choose_area_2 ul{margin:0; padding: 43px 0 0 0; background:url(../../../inc/templates/v10_purple/images/choose_col_2_bg.gif) no-repeat;}
#choose_area_2 li{list-style:none; width:175px; height:26px; background:url(../../../inc/templates/v10_purple/images/choose_col_2_li.gif) no-repeat; font-size:15px; color:#FFFFFF; padding:4px 0 0 27px;}
#choose_area_2 li.bottom{list-style:none; width:175px; height:44px; background:url(../../../inc/templates/v10_purple/images/choose_col_2_li2.gif) no-repeat; font-size:15px; color:#FFFFFF; padding:4px 0 0 27px;}


/* CONTROL BAR MENU
---------------------------------------------------------------------------- */

#MenuControlHead .user_name { color:white;  }
#MenuControlHead { background: url('../../../images/DEFAULT/_acc/control_t1.png') no-repeat; }
#MenuControlList li { background: #333333 url('../../../images/DEFAULT/_acc/control_icon.gif') no-repeat; }
#MenuControlBody .ListDisplay {background: url('../../../images/DEFAULT/_acc/control_tbg.gif'); }
#MenuControlBody .ListDisplay_text {color:white; background:black;}
#MenuControlBody .user_status {  color:white; }
#MenuControlBody { background:black; color:white; }
#MenuControlBot {  background: url('../../../images/DEFAULT/_acc/control_t3.gif') no-repeat; }
#MenuControlBot a { color:#666666; }

/* rounded coners
---------------------------------------------------------------------------- */

.b1f, .b2f, .b3f, .b4f, .contentf { background: #efefef; color: #333333;}

#copyright_bar { background:transparent; text-align: center;}

table.overviewOptions table[width="650"]{
	background:none;
}
#bottomBar .col1, #bottomBar .col2, #bottomBar .col3 {
    background: #8E7D9F;
    width: 32%;
    min-height: 359px;
    border-radius: 4px;
}

#MainPageBackground .wide_wrapper {
    top: 209px;
}