/* page body
---------------------------------------------------------------------------- */

body {
	font-size:85%;
	font-family: Arial, sans-serif;
	color:#444444;
	padding: 0px 0 10px 0;
	margin: 0;
}
h1, h2, h3 {
	padding: 0;
	margin: 0;
	color:#0690C1;
}
p {
	color:#444444;
}
h2 {
	font-size:21px;
	font-weight:bold;
	color:#0690C1;
	text-align:left;
}
h3 {
	font-size:14px;
	font-weight:bold !important;
	color:#0690C1;
	/*text-align:left;*/
}
/* MAIN HEADER BAR, OFTEN WHERE THE LOGO IS */

/* MAIN CONTAINER, SITES UNDER THE HEADER */ 
#page_container {
	background: transparent;
	display:block;/* border:1px solid white;*/
}
/* THIS IS THE INNER CONTENT WRAPPER, FILLS THE CONTENT SECTION NOT THE MENU BAR */
#main_content_wrapper {
	background: transparent url('../../../images/body_wrapper_top.jpg') top left no-repeat;
	margin-right:10px;
}
#main_wrapper_bottom {
	/*background: transparent url('../../../images/v14_blue/main_wrapper_bottom.jpg') no-repeat top right;  margin-right:5px;*/
 	height:49px;
	display:none;
}
/* page footer
---------------------------------------------------------------------------- */

#page_footer {
	margin-bottom:0px;
}
#page_footer .footer_menu {
	background: #fff;
	margin-bottom:0px;
	text-align:center;
}
.footer_tabs a {
	color: #997A7F;
}
#bottomBar {
	color: #fff;
	background: #0690C1;
}
#bottomBar h4 {
	background-color: #DB3D31;
	color:#ffffff;
}
#bottomBar .col1 li, #links li {
	border-bottom:1px dotted #ffffff;
}
/* two main buttons
---------------------------------------------------------------------------- */

/*A.MainBtn, input.MainBtn {background: #0690C1; color:#ffffff; }*/
/*A.NormBtn, input.NormBtn {background: url( '../../images/DEFAULT/_buttons/bg-grygradlarge.gif' ) 0px 0px repeat-x; }*/


/* link styles
---------------------------------------------------------------------------- */

a {
	color:#333333;
}
a:active {
	color:#333333;
}
/* GREY TABLE BACKGROUND AND BAR ON THE HOME PAGE, CALENDAR AND CLASSADS PAGE
---------------------------------------------------------------------------- */

.inner_nav_bar {
	background:  #f44336;
	color:#ffffff;
	font-weight:bold;
}
.inner_nav_body {
	border:1px solid #eeeeee;
	background:#fff;
}
/* SIDE MENU BAR STYLES
---------------------------------------------------------------------------- */

#side_box {
	margin-left:0px;
}
#side_box .menu_box_body, .menu_box_body1, .album-gallery li, #FolderBody .gallery li {
	background: #ffffff;
	border-left:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
}
#side_box .menu_box_body {
	border-top:1px solid #C8C8C8;
}
#side_box .menu_box_body, #side_box .menu_box_title {
}
#side_box .menu_side span {
	color:#333333;
}
#side_box .menu_box_title, .menu_box_title1 {
	color: #f44336;
}
#side_box .menu_box_title span, .menu_box_title1 span {
	display:none;
}
/* TOP MENU BAR AND SUBBAR
---------------------------------------------------------------------------- */

.menu {
	margin-left:0;
	background: #f44336;/*border-top:2px solid white;*/
}
.sub_menu {
	background: #fff;
}
.menu, .sub_menu {
	width:940px;
margin:left:0px;
	margin-right:0px;
	float:left;
}
/* MENU BOX EXPAND 
---------------------------------------------------------------------------- */

.menu_expand {
	background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_expand.gif") no-repeat 0 0;
	cursor:pointer;
}
.menu_noexpand {
	background: #23A8D7 url("../../../images/DEFAULT/_acc/menu_background_noexpand.gif") no-repeat 0 0;
	cursor:pointer;
}
.menu .i1 {
	margin-left:10px;
}
.tabs li a {
	color: #fff;/* margin-right:2px;*/
	font-size:100%;
	line-height:40px;
}
.tabs li a:hover, .tabs li .selected {
	color: #fff;
}
.tabs li .selected {
}
.tabs li a:hover {
	color: #cccccc;
}
.sub_tabs li a {
	color:#666;
}
.sub_tabs li a:hover {
	border-bottom:2px solid #0690C1;
}
/* MEMBERS ONLINE TEXT IN MENU BAR
---------------------------------------------------------------------------- */

.onlinenow a {
	color:#666666;
	font-size:12px;
}
/* ACCOUNT PAGE STYLES
---------------------------------------------------------------------------- */

#Acc_Heading {
	margin-top:5px;
}
#Acc_Heading .title {
	color:#ffffff;
	font-size:130%;
	margin:0px;
}
#Acc_Heading .text {
	font-size:110%;
	color:#ffffff;
}
#Acc_Heading .a1 img {
	border:3px solid #ffffff;
}
/* MAIN ACCOUNT BOXEX */
.CapTitle {
	background:#f44336;
	display:none;
}
.CapBody {
	background: #fff;
	border:1px solid #cccccc;
}
/* SEARCH RESULTS BAR */
#eMeetingContentBox #Results {
	background: #e1e1e1;
	border-bottom:1px solid #eeeeee;
}
.search_display_on {
	background:#fff;
}
.search_display_off {
	background:transparent;
}
/* INNER BACKGROUND IMAGES DISPLAYED AT THE TOP OF MOST PAGES
---------------------------------------------------------------------------- */

.TopVideos, .TopTour, .TopUpgrade, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLogin, .TopLinks, .TopInvite, .TopGroups, .TopGames, .TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount span {
	color:#ffffff;
	font-weight:bold;
}
.TopVideos, .TopTour, .TopSettings, .TopRegister, .TopMusic, .TopMessages, .TopMatches, .TopMap, .TopLinks, .TopInvite, .TopGroups, .TopGames, .TopGallery, .TopForum, .TopFAQ, .TopContact, .TopAdverts, .TopChatRoom, .TopCalendar, .TopBlog, .TopArticles, .TopAffiliate, .TopAccount {
	background: url(../../../inc/templates/v20_peach/images/inner_top_menu.jpg) no-repeat;
}
/* PROFILE PAGE STYLES
---------------------------------------------------------------------------- */

/*#ProfileHead { background: #f44336 url('../../../images/DEFAULT/profile_backdrop.png') top left;} /* LEAVE IMAGE FOR PROFILE BACKDROP */
#ProfileHead {
	/*background: rgb(119, 173, 218) top left;*/
} /* LEAVE IMAGE FOR PROFILE BACKDROP */
#ProfileUsernameBox h1, #ProfileUsernameBox h2, #ProfileUsernameBox p {
	color:white;
}
#profile_nav_bar {
	background: #8BA6C3;
}
.profile_tabs li a {
	color:white;
}
.profile_tabs .selected a {
	color:#E54539;
}
#profile_menu_display {
	background:#eeeeee;
	border: 1px solid #999999;
}
.profile_box_title {
	background:  #fff;
	border:1px solid #999999; /*width:395px; */
	font-size:12px; /*margin-left:8px;*/
	border-bottom:0px;
}
.profile_box_title .goL h1 {
	color:#f44336;
}
.profile_box_title .goR a {
	color:#f44336;
}
.profile_box_body {
	border: 1px solid #999999; /* width:395px; */ /*margin-left:8px;*/
}
#ProfileOptionsBox {
	border:1px solid #999999;
	background:#eeeeee;
}
/* home page styles
---------------------------------------------------------------------------- */

/* SLIDER BACKGROUND COLOR */
.pagination a:hover, .pagination a.selected {
	background: #0690C1;
	color:white;
}
.pagination a {
	background: #4C9DDF;
	border-bottom:1px solid white;
	color:white;
}
.sliderwrapper {
	height:273px;
}
.HomeSearch {
	color:white;
}
.HomeMembers {
	color:white;
}
.s5_searchbox {
	color:#666666;
}
/* CONTROL BAR MENU
---------------------------------------------------------------------------- */

#MenuControlHead .user_name {
	color:white;
}
#MenuControlHead {
	background: url('../../../images/DEFAULT/_acc/control_t1.png') no-repeat;
}
#MenuControlList li {
	background: #333333 url('../../../images/DEFAULT/_acc/control_icon.gif') no-repeat;
}
#MenuControlBody .ListDisplay {
	background: url('../../../images/DEFAULT/_acc/control_tbg.gif');
}
#MenuControlBody .ListDisplay_text {
	color:white;
	background:black;
}
#MenuControlBody .user_status {
	color:white;
}
#MenuControlBody {
	background:black;
	color:white;
}
#MenuControlBot {
	background: url('../../../images/DEFAULT/_acc/control_t3.gif') no-repeat;
}
#MenuControlBot a {
	color: #f44336;
	margin-left: 10px;
}
/* rounded coners
---------------------------------------------------------------------------- */

.b1f, .b2f, .b3f, .b4f, .contentf {
	background: transparent;
	color: #333333;
}
#copyright_bar {
	background: #fff;
	text-align:center;
	width:100%;
}
#copyright_bar a {
	color:#3e6a99;
}
.logo_height {
	float:left;
	/*width:auto;*/
}
.language {
	outline:none;
	border:1px solid #ccc;
	margin-right: 15px;
	padding: 4px;
	font-size:12px;
}
.login {
	outline:none;
	border:1px solid #ccc;
	text-align:center;
	padding: 5px 15px;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	background:#fff;
}
.box-member-search {
	display:block;
	text-align:left;
	margin-top: 90px;
	background:#fff;
	float:left;
	margin-left:-100px;
	margin-bottom:100px;
	z-index: 1;
	position: relative;
	display: block;
}
.content-width {
	width:100%;
	margin:auto;
}
.bg-content {
	float:left;
	width:100%;
	text-align:center;
	background: url('../../templates/v20_peach/images/bg.jpg') no-repeat;
	height:auto;
	background-size: cover;
	margin-bottom:25px;
}
.banner-home-mid {
	float:left;
	width:100%;
	text-align:center;
	background: url('../../templates/v20_peach/images/home-banner.jpg') no-repeat;
	height:100%;
	max-height:451px;
	background-size: cover;
	margin-bottom:25px;
	margin-top:25px;
}
.bg-content input.NormBtn, .green-btn {
	background: rgba(133,198,36,1);
	background: -moz-linear-gradient(top, rgba(133,198,36,1) 0%, rgba(67,145,7,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133,198,36,1)), color-stop(100%, rgba(67,145,7,1)));
	background: -webkit-linear-gradient(top, rgba(133,198,36,1) 0%, rgba(67,145,7,1) 100%);
	background: -o-linear-gradient(top, rgba(133,198,36,1) 0%, rgba(67,145,7,1) 100%);
	background: -ms-linear-gradient(top, rgba(133,198,36,1) 0%, rgba(67,145,7,1) 100%);
	background: linear-gradient(to bottom, rgba(133,198,36,1) 0%, rgba(67,145,7,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c624', endColorstr='#439107', GradientType=0 );
	color:#fff;
	font-size:17px;
	padding:5px 0px;
	border:none;
	width:100%;
	margin-left: 0px;
	margin-top:10px;
	font-weight:bold;
	font-size:20px;
	border-radius: 5px;
}
.box-member-search h2.heading {
	text-align:center;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	background: #444849;
	padding: 12px 10px;
}
.member-info-table {
	margin:20px;
}
#page_footer .footer_tabs li a {
	color:#3e6a99 !important;
}
#page_footer .footer_tabs li {
	float:none !important;
	display:inline-block;
}
.heart {
	float:left;
	margin-top: 2px;
}
.logo-top-search {
	margin:5px 10px;
	text-align:center;
}
.btn-ragister {
	background: rgba(61,92,153,1);
	background: -moz-linear-gradient(top, rgba(61,92,153,1) 0%, rgba(54,81,134,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,92,153,1)), color-stop(100%, rgba(54,81,134,1)));
	background: -webkit-linear-gradient(top, rgba(61,92,153,1) 0%, rgba(54,81,134,1) 100%);
	background: -o-linear-gradient(top, rgba(61,92,153,1) 0%, rgba(54,81,134,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,92,153,1) 0%, rgba(54,81,134,1) 100%);
	background: linear-gradient(to bottom, rgba(61,92,153,1) 0%, rgba(54,81,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5c99', endColorstr='#365186', GradientType=0 );
	font-size:14px;
	text-align:center;
	padding:9px 0px;
	width:100%;
	float:left;
	color:#fff;
	text-decoration:none;
	margin-top:10px;
	line-height: 14px;
	text-transform: capitalize;
	border-radius: 5px;
}
.btn-ragister img {
	vertical-align:top;
	display:inline;
}
.four-col li {
	float:left;
	width:23%;
	margin-left:10px;
	text-align:center;
	color:#9fa3ac;
}
.four-col li:first-child {
	margin-left:0px;
}
.four-col h1 {
	color:#000;
	font-size:20px;
}
.banner-home-mid .btn-row {
	width: 250px;
	margin: auto;
	top: 50%;
	margin-top: 7.3%;
}
.banner-home-mid .btn-row .green-btn {
	float:left;
	width:100%;
	margin-top:20px;
	text-decoration:none;
	padding: 8px 0px;
}
.ui-slider-tabs {
	width:70%;
	margin:auto;
}
.ui-slider-tabs-content-container {
	border:none !important;
	text-align:center;
}
.ui-slider-tabs-list li {
	border:none !important;
	text-align:center;
	padding:0px;
	width:50px;
	height:auto !important;
	margin: 5px 7px !important;
}
.ui-slider-tabs-list li a {
	padding:0px !important;
}
.ui-slider-tabs-list li img {
	-moz-border-radius:52px;
	-webkit-border-radius:52px;
	border-radius:52px;
	width:100%;
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-tabs-list li.selected {
	width:60px;
}
.ui-slider-tabs-list {
	margin: auto !important;
}
.ui-slider-tab-content p {
	width:65%;
	margin:auto;
	font-size: 24px;
	color:#9b9fa8;
	line-height:27px;
	font-family:serif;
	font-style: italic;
}
.ui-slider-tab-content p span.author {
	float: left;
	width: 100%;
	color: #000;
	font-size:22px;
}
.login-box {
	float:right;
	width:250px;
}
.login-box .btn-ragister {
	margin-bottom:10px;
}
.login-box ul.form .input, .login-box .input {
	background:#fff;
	padding:5px;
	border:1px solid #efefef;
	box-shadow: inset 0 0 1px 1px #ccc;
	width:100%;
}
.login-box .CapBody {
	background:#fff;
	padding: 10px;
	margin-bottom:0px;
	border:none;
}
.login-box ul.form {
	margin:0px;
}
.login-box .forget-form .CapBody {
	background:#f2f2f2;
}
.login-box .forget-form .CapBody li:first-child {
	padding:0px !important;
	margin-bottom:0px;
	text-align:center;
}
.login-box ul.form .forget-txt {
	padding-bottom:0px;
	font-size: 12px;
	text-align: center;
	margin-top: -8px !important;
}
.login-box ul.form .forget-txt a {
	color: #f44336;
}
.login-top {
	position:absolute;
	width:100%;
	left:0px;
}
.line-txt {
	border-bottom:1px solid #ccc8c9;
	text-align:center;
	margin-top: 10px;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.line-txt span {
	padding:5px 15px;
	background:#fff;
	margin-bottom:-10px;
	line-height: 0px;
}
.login-box {
	color:#ccc8c9;
	background: url('../../templates/v20_peach/images/arrow-login-top.png') no-repeat;
	padding-top: 8px;
	background-position: 83% 0px;
	position:relative;
	z-index:2;
}
.menu_side input.MainBtn, form[name="LoginForm"] .CapBody input.MainBtn, input.MainBtn, input.NormBtn.advandate_btn.submit_games_page {
	background: #f44336;
	color:#fff;
}
.social-icon-container {
	float: left;
	width: 100%;
	text-align: center;
	margin: 30px 0px 20px;
}
.custom-border {
	border : 2px solid #CCCCCC;
}



.overviewOptions td[width="2"] {
	BACKGROUND: #EAEAEB;
}
table.overviewOptions td h2 {
	color: #f44336;
}
#fullpage .overviewOptions a.mhlinks2 {
	color: #f44336;
}
.header.account_tabs ul li.selected {
	background-color: #f44336;
}
.header.account_tabs li.selected a, .header.account_tabs li a:hover {
	color: #fff;
}
.galleryviewleft div b, .workblock .galleryviewright div b {
    color: #f44336;
}

.header.account_tabs li:hover {
    background-color: #f44336;
    border-bottom: 1px solid #ccc;
    color: #FFF !important;
}

/*<---/page content style--->*/

/*<---/global style--->*/


/*custom style*/

/*<---header style--->*/
	
.navbar.navbar-inverse.navbar-fixed-top {
	background: #f44336;
	border:0px;
}
/*<---/header style--->*/

/*<---footer style--->*/
.footer_sec {
	background-color: #fff;
}
.flags_table {
	background: #fff;
}
.file_comments {
    background: #fff;
}
/*<---/footer style--->*/

.contentf_inner1 {
    background: #fff;
}
.gcatleft a, .gcatright a {
    color: #f44336;
    line-height: 25px;
}
A.MainBtn, input.MainBtn {
    color: #fff;
    background: #f44336;
}
ul.Acc_Heading_List {
    background: #fff;
}   
div.contact-form div.bg1{
   border: 3px solid #f44336;
}
div#ProfileUsernameBox {
    BACKGROUND: rgb(119, 173, 218) top left;
} 


#basic_search ul.details .first {
    color: #f44336;
}


table.map_table h3 {
    color: #f44336;
}
ul.form.forget-form {
    border: 2px solid #ccc;
    margin-top: 6px;
}
@media (max-width:1030px){
.box-member-search {
    margin-left: 0px; 
}
.ui-slider-tabs {
    width: 100%;
}	
}
@media (max-width:768px){
.four-col li {
    padding: 2%;
    width: 46%;
    margin: 0 auto;
}
}
@media (max-width:680px){
.ui-slider-tab-content p {
    font-size: 21px;
}
.ui-slider-tab-content p span.author {
    font-size: 19px;
}
}

@media (max-width:550px){
.four-col li {
    width: 92%;
    padding: 2% 4%;
}
.box-member-search {
    width: 85%;
    padding: 4%;
    margin: 0 auto;
    float: none; 
    margin-bottom: 100px;
	margin-top: 90px;
}
.member-info-table {
    width: 100%;
    margin: 0px;
}	
}

/*@media (max-width:380px){
.box-member-search {
    width: 95%;
}	
}*/

div#MenuBar ul li a {
    color: #fff;
}