.popbox_text {  font-size:11px; }
.popbox_img { max-height:60px; max-width: 55px;}
#content1 { margin-top: 10px; position: relative; }
#mapThis { position: absolute; top: 0; left: 0; margin: 0% 1%; width: 98%; height: auto; padding-top: 0%; border: 1px solid #aaa; }
#map-wrapper { position: relative; height: 450px; overflow:hidden; }
#sidebar1 { position:absolute; border: 1px solid #aaa; top: 0; width: 200px; height: 440px; overflow: auto; background:#eeeeee; }
#sidebar1 p { margin: 10px; }
#sidebar1 ul#sidebar-list { list-style: none; padding: 6px 0 0 0 ; margin: 0; height:440px; overflow: hidden; }
#sidebar1 ul#sidebar-list li { position: relative; padding: 2px 5px 2px 50px; clear:left; }
#sidebar1 ul#sidebar-list li div.label { float: left; margin-left: -40px; width: 40px; position:relative; padding: 1px 3px 1px; background: #666; color: white; }
#sidebar1 ul#sidebar-list li a { font-family: Arial; font-size: 11px; color: #445555; text-decoration: none; padding: 2px 3px; }
div.LabeledMarker_markerLabel { display: block; padding-top: 9px; }
div.LabeledMarker_markerLabel, #sidebar1 ul#sidebar-list li div.label { text-align: center; color: white; width: 32px; letter-spacing: 0px; font-size: 12px; font-family: Arial; }
#sidebar1 { right: 0; }
a#button-sidebar-show, a#button-sidebar-hide { display: none; }
#toolbar { background: white; padding: 4px; border: 1px solid #666; position: relative; background: #eee; }
 * html #toolbar { height: 1px; }
#toolbar h1 { margin: 0; font: bold 12px Helvetica, sans-serif; }
#toolbar ul { list-style: none; padding: 0; margin: 0; }
#toolbar ul#sidebar-controls li { position: absolute; right: 5px; bottom: 5px; }
#toolbar ul li { display: inline; }
#toolbar ul li a { padding: 3px 6px; color: #444; text-decoration: none; font-size: 12px; }
#toolbar ul li a:hover { color: #aaa; background: #444; }